body
{
  background-color: aliceblue;

}
h2
{
    color: #2c3e50;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#registerTemplate
{
  width: 750px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px 50px;
  padding-bottom: 30px;
  background-color: transparent;
}
#details
{
  font-weight: 700;
}
#search
{
  width:250px;
  float: left;
  margin-left: 150px;
}
#doctorSearchBtn
{
  margin-left:50px;
  height: 35px;
}

body
{
  background-color: #2c3e50;
}
#template
{
	width: 350px;
	height: auto;
	margin: 150px auto;
	border-radius: 10px;
  padding: 0 50px;
  padding-bottom: 30px;
}

#login
{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#loginBtn
{
	margin-top: 30px auto;
	padding: 5 100px;
  width: 250px;
}
h4
{
  color: #2f3640;
}
label
{
  color: #2f3640;
  font-weight: 100;
  font-size: 90%;
}
button
{
  color: #bdc3c7;
}
.img
{
  width: 30px;
  height:30px;
  float: left;
}
input.ng-invalid.ng-touched
{
  border:2px solid #EA2027;
}

input[disabled='disabled']
{
  opacity: 0.5;
  cursor: not-allowed;
}
