<html>
  <head>
    <style>
      #table{
        width:800px;
        margin:auto;
        margin-top: 100px;
      }
      </style>
  </head>
  <body>
    <header ng-include="'headerHospital.html'"></header>
    <table class="table table-bordered table-dark" id="table">
      <thead>
        <tr>
          <th scope="col">Request ID</th>
          <th scope="col">Message</th>
          <th scope="col">Action</th>
        </tr>
      </thead
      <tbody>
        <tr ng-repeat="x in datalist">
          <th scope="row">{{x.Id}}</th>
          <td >{{x.Message}}</td>
          <td><input type="button" ng-click="goToPrediction()" class="btn btn-success" value="Details"/></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
